> 11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [6]:
%%writefile zoo.py

def hours():
    print('Open 9-5 daily')

Overwriting zoo.py

In [2]:
import zoo

zoo.hours()

Open 9-5 daily

> 11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [17]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

> Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

In [52]:
import csv

data = [
    ["title", "author", "year"],
    ["The Weirdstone of Brisingamen", "Alan Garner", 1960],
    ["Perdido Street Station", "China Mi√©ville", 2000],
    ["Thud!", "Terry Pratchett", 2005],
    ["The Spellman Files", "Lisa Lutz", 2007],
    ["Small Gods", "Terry Pratchett", 1992]
]

with open("books2.csv", "w", newline="") as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file 'books2.csv' created successfully.")

CSV file 'books2.csv' created successfully.

In [56]:
import sqlite3

connection = sqlite3.connect("books.db")
cursor = connection.cursor()

cursor.execute("CREATE TABLE books (title TEXT, author TEXT, year INTEGER)")

cursor.close()
connection.close()

print("books.db created successfully.")

books.db created successfully.

In [58]:
import csv
import sqlite3

# Connect to the database
connection = sqlite3.connect("books.db")
cursor = connection.cursor()

# Create the table if it doesn't exist
cursor.execute("""
    CREATE TABLE IF NOT EXISTS books (
        title TEXT,
        author TEXT,
        year INTEGER
    )
""")

# Read the data from the CSV file and insert into the table
with open("books2.csv", "r") as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)

# Commit the changes and close the connection
connection.commit()
cursor.close()
connection.close()

print("Data from 'books2.csv' has been inserted into 'books.db' successfully.")

Data from 'books2.csv' has been inserted into 'books.db' successfully.

In [60]:
import sqlite3

connection = sqlite3.connect("books.db")
cursor = connection.cursor()

cursor.execute("SELECT title FROM books ORDER BY title")
books = cursor.fetchall()

for book in books:
    print(book)

cursor.close()
connection.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)